# Next.js
**/.next
**/out
**/next-env.d.ts


# General
node_modules
dist
build
coverage
reports
.vscode
pnpm-lock.yaml
package-lock.json
**/*.generated.ts
**/rsx-generated/**
**/tmp-*.mjs
**/tmp-*.ts
**/.tmp-*
